
.title {
  display: flex;
  flex-direction: row;

  span {
    font-family: var(--ion-title-font);
    color: white;
    margin-left: .5rem;
    font-variant: all-petite-caps;
  }
}


@media only screen and (orientation: portrait)  {
  .title {
    align-items: center;
  }
}
