<ion-header>
  <ion-toolbar>
      <ion-buttons *ngIf="showBackButton" slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-select *ngIf="seasons" [(ngModel)]="activeSeasons"  multiple="true" slot="end" placeholder="Season" (ionChange)="updateSeasons()">
        <ion-select-option *ngFor="let season of seasons" [value]="season">{{season}}</ion-select-option>
      </ion-select>
  </ion-toolbar>
</ion-header>
