<ion-header>
  <ion-toolbar>
      <ion-buttons *ngIf="showBackButton" slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-menu-toggle menu="'menu1"></ion-menu-toggle>
    <ion-title>
        <div class="title">
            <img src="assets/logo.png" height="32">
            <span>{{title}}</span>
        </div>
    </ion-title>
      <ion-select *ngIf="seasons && showSeasons" [(ngModel)]="activeSeasons"  multiple="true" slot="end" placeholder="Season" (ionChange)="updateSeasons()">
          <ion-select-option *ngFor="let season of seasons" [value]="season">{{season}}</ion-select-option>
      </ion-select>
      <ion-chip slot="end" *ngIf="(user | async)" (click)="showUserMenu($event)">
          <ion-avatar>
              <img [src]="(user |async).photoURL ? (user |async).photoURL : 'assets/avatar.svg' ">
          </ion-avatar>
          <ion-label>{{(user |async).displayName}}</ion-label>
      </ion-chip>
  </ion-toolbar>
</ion-header>
