:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.season-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  .season {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    border-top: 1px solid var(--ion-color-border);

    &:first-child {
      padding-top: 0rem;
      border-top: none;
    }

    .date {
      font-style: italic;
      color: gray;
      font-size: smaller;
    }

    .title {
      font-weight: bold;
    }
    .subtitle {
      font-weight: normal;
    }
  }
}

.stats {
  display: flex;
  flex-direction: column;
  margin-top: .25rem;

  .trow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: .5rem;
  }

  .tcol {
    display: flex;
    flex-direction: column;
  }

  .theader {
    color: var(--ion-color-inactive);
    font-weight: bold;
    width: 7.5rem;
    text-align: left;
  }

}
