:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.season-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  .season {
    display: flex;
    flex-direction: column;
    margin: .25rem 0;

    .title {
      font-weight: bold;
    }
    .subtitle {
      font-weight: normal;
    }
  }
}

.stats {
  display: flex;
  flex-direction: column;
  margin-top: .25rem;
  .stat {
    display: flex;
    .label {
      font-weight: bold;
      margin-right: .5rem;
    }
  }
}
