<ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
<div *ngIf="!loading" class="season-container">
  <div class="season" *ngFor="let season of info">
    <h2 class="title">{{season.year}}<span class="subtitle"> ({{season.duration}} days)</span></h2>
    <span class="date">{{season.season[0].toISOString() | date: "dd MMMM yyyy"}} - {{season.season[1].toISOString() | date: "dd MMMM yyyy"}}</span>
    <div class="stats">
      <div class="trow">
        <div class="tcol theader">Degree Days</div>
        <div class="tcol">{{season.dgd}} degrees</div>
      </div>
      <div class="trow">
        <div class="tcol theader">Precipitation</div>
        <div class="tcol">{{season.precip}} m3</div>
      </div>
    </div>
  </div>
</div>