<ion-content>
  <h3>Thank You for Registering</h3>

  <div class="formGroup" *ngIf="(user | async)">
    <p class="text-center">We have sent a confirmation email to <strong>{{(user | async).email}}</strong>.</p>
    <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
  </div>

  <!-- Calling SendVerificationMail() method using authService Api -->
  <div class="formGroup">
    <button type="button" class="btn btnPrimary" (click)="authService.sendEmailVerification()">
      <i class="fas fa-redo-alt"></i>
      Resend Verification Email
    </button>
  </div>

  <div class="redirectToLogin">
    <span>Go back to?<span class="redirect" routerLink="/login"> Sign in</span></span>
  </div>
</ion-content>
