<ion-content [class.mobile]="utilService.isMobile()">
  <div class="content">
    <div class="title">
      <img alt="logo" src="assets/logo.png" height="100px"/>
      <span>Vineyards</span>
    </div>
    <div class="text">
      <h3>Thank You for Registering</h3>
      <div class="formGroup" *ngIf="(user | async)">
        <p class="text-center">We have sent a confirmation email to <strong>{{(user | async).email}}</strong>.</p>
        <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
      </div>
      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <ion-button expand="full"  (click)="authService.sendEmailVerification()">
          Resend Verification Email
        </ion-button>
      </div>
    </div>
    <ion-buttons class="secondary">
      <ion-button expand="full" (click)="toLogin()">
        <span>Back to login</span>
      </ion-button>
    </ion-buttons>
  </div>

</ion-content>
