<div class="season">
  <span>Season</span>
  <ion-select *ngIf="seasons.length > 0" [(ngModel)]="activeSeasons" multiple="true" placeholder="Season" (ionChange)="setSeasons($event.target.value)">
    <ion-select-option *ngFor="let season of seasons" [value]="season">{{season}}</ion-select-option>
  </ion-select>
</div>

<div class="section">
  <div class="header">
    <ion-label>Vineyards</ion-label>
  </div>
  <div class="items">
    <div class="item" button (click)="openOverview()">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      <ion-label>Select vineyard</ion-label>
    </div>
  </div>
</div>


<div class="section">
  <div class="header">
    <ion-label>Information</ion-label>
  </div>
  <div class="items">
    <div class="item" (click)="openTab('info')"  [class.selected]="activePage === 'info'">
      <ion-icon name="information-circle" slot="start"></ion-icon>
      <ion-label>Info</ion-label>
    </div>
    <div class="item" (click)="openTab('notes')"   [class.selected]="activePage === 'notes'">
      <ion-icon name="create" slot="start"></ion-icon>
      <ion-label>Notes</ion-label>
    </div>
    <div class="item"  (click)="openTab('actions')"  [class.selected]="activePage === 'actions'">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>History</ion-label>
    </div>
    <div class="item" (click)="openTab('stats')"   [class.selected]="activePage === 'stats'" *appHideOnPlatform="['mobile']">
      <ion-icon name="stats-chart" slot="start"></ion-icon>
      <ion-label>Statistics</ion-label>
    </div>
  </div>
</div>

<div class="section">
  <div class="header">
    <ion-label>Vintages</ion-label>
  </div>
  <div class="items">
    <div class="item" (click)="viewVintage(vintage)"  *ngFor="let vintage of vintages" [class.selected]="activeVintage?.id === vintage.id">
      <ion-img class="icon" [src]="'assets/icon/grape_' + vintage.color.toLowerCase() +'.png'"  slot="start"></ion-img>
      <ion-label>
        <span>{{vintage.year}} - {{vintage.name}}</span>
        <span class="vintage-variety">{{varietyService.getVintageVarietiesLabel(vintage)}}</span>
      </ion-label>
    </div>
    <div class="item action">
      <ion-button (click)="openAddVintageModal()" fill="clear"><ion-icon name="add-outline"></ion-icon>Add vintage</ion-button>
    </div>
  </div>
</div>
