<div class="content-title">Info</div>
<div id="vineyard-map"></div>
<ion-grid>
    <ion-row class="ion-align-items-stretch">
        <ion-col class="ion-align-self-stretch" size="12" size-sm="9">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>General</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div class="trow">
                        <div class="tcol theader">
                            Address
                        </div>
                        <div>
                            {{vineyard?.address}}
                        </div>
                    </div>
                    <div class="trow">
                        <div class="tcol theader">
                            Total plants
                        </div>
                        <div>
                            {{getTotalCount()}}
                        </div>
                    </div>
                    <div class="trow">
                        <div class="tcol theader">
                            Varieties
                        </div>
                        <div>
                            <span *ngFor="let variety of varieties">{{variety.name}} - {{variety.rows * variety.plantsPerRow}} plants<br/></span>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col  class="ion-align-self-stretch" size="12" size-sm="3">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Warnings</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <app-warnings [vineyard]="vineyard"></app-warnings>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col  class="ion-align-self-stretch" size="12" size-sm="6">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Weather</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <app-weather [vineyard]="vineyard"></app-weather>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col  class="ion-align-self-stretch" size="12" size-sm="6">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>History</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div  *ngIf="vineyard" class="actions-container">
                        <div class="actions" *ngFor="let type of actions | activeType" [class.mobile]="utilService.isMobile()">
                            <div class="action" *ngFor="let action of (actions | lastAction:[type])">
                                <!--<div class="icon">
                                  <img [src]="'assets/icon/' + (type) + '.png'" [title]="type"/>
                                </div>-->
                                <div class="text">
                <span class="title">
                  {{action.date | date: "dd MMMM yyyy"}}
                    <ion-badge [style.backgroundColor]="actionService.getActionTypeColor(actionService.findActionType(action.type))">{{actionService.findActionType(action.type)}}</ion-badge>
                </span>
                                    <span class="type"></span>
                                    <span class="description">{{action.description.length > 50 ? action.description.substr(0, 50) + ' ...' : action.description}}</span>
                                    <span class="description" *ngIf="action.bbch">{{utilService.getBBCHDescription(action.bbch)}}</span>
                                    <span class="description" *ngIf="action.type === 'brix'">{{action.value}} ({{action.value | brixToAlcohol}}%)</span>
                                    <span class="description" *ngIf="action.type === 'planting'">{{varietyService.getVariety(action.variety)[0].rows * varietyService.getVariety(action.variety)[0].plantsPerRow}} plants</span>
                                    <span class="description variety" *ngIf="action.variety">
                    {{varietyService.getVarietiesLabel(action)}}
                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>
