:host {
  width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    min-height: 15rem;
  }
  .col {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    flex: 1;

    &.large {
      flex: 3;
    }
  }


  table {
    tr {
      th, td {
        padding-right: 1rem;
        text-align: left;
        padding-bottom: 1rem;

        ul {
            li {
                margin-bottom: .5rem;
            }
        }
      }
      &.indent{
        p {
          padding-left: 1rem;
        }
      }

      td {
        span {
          width: 100%;
        }
      }
    }
  }


  #vineyard-map {
    flex: 1;
  }

  .actions-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .actions { 
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 45%;
      margin-right: 5%;
      margin-bottom: 1rem;

      .action {
        display: flex;
        flex-direction: row;
        align-items: center;


        .icon {
          img {
            height: 1rem;
          }
          margin-right: 1rem;
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        
          .title{
            font-weight: bold;
            display: flex;
            ion-badge {
              margin-right: .5rem;
            }
          }

          .description{
            font-size: smaller;
          }

          .variety {
            font-style: italic;
            color: gray;
          }
        }
      }
    }
}

  @media only screen and (orientation: portrait) {
        #vineyard-map {
            width: 96vw;
            height: 15rem;
        }
  }
