<h1>Info</h1>
<div class="row">
  <div class="col large">
    <table>
      <tr>
        <th>Address</th>
        <td>{{vineyard?.address}}</td>
      </tr>
      <tr>
        <th>Total plants</th>
        <td>{{getTotalCount(vineyard, seasons)}}</td>
      </tr>
      <tr>
        <th coslpan="2">Varieties</th>
      </tr>
      <tr>
        <td colspan="2"><ul>
            <li *ngFor="let variety of getVarieties(vineyard, seasons)">{{variety.name}} - {{variety.rows * variety.plantsPerRow}} plants</li>
        </ul>
      </td>
      </tr>
      <tr>
        <th colspan="2">
          Actions:
        </th>
      </tr>
      <tr>
        <td colspan="2">
          <div  *ngIf="vineyard" class="actions-container">
          <div class="actions" *ngFor="let type of vineyard | activeType:seasons">
            <div class="action" *ngFor="let action of (vineyard | lastAction:[type]:seasons)">
              <div class="icon">
                <img [src]="'assets/icon/' + (type) + '.png'" [title]="type"/>
              </div>
              <div class="text">
                <span class="title">{{action.date | date: "dd MMMM yyyy"}}</span>
                <span class="description">{{action.description}}</span>
                <span class="description" *ngIf="action.bbch">{{utilService.getBBCHDescription(action.bbch)}}</span>
                <span class="description" *ngIf="action.type === 'planting'">{{vineyardService.getVariety(vineyard, action.variety)[0].rows * vineyardService.getVariety(vineyard, action.variety)[0].plantsPerRow}} plants</span>
                <span class="description variety" *ngIf="action.variety">
                    {{vineyardService.getVarietiesLabel(vineyard, action)}}
                </span>
              </div>
            </div>
          </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="col">
    <div id="vineyard-map"></div>
  </div>
</div>
<div class="row">
  <div class="col">

  </div>
  <div class="col">
    <ion-button (click)="openAddActionModal()"><ion-icon slot="start" name="add-outline"></ion-icon><ion-label>Add action</ion-label></ion-button>
  </div>
</div>
