<h1><ion-icon name="information-circle" slot="start"></ion-icon> Info</h1>
<div class="row">
  <div class="col large">
    <table>
      <tr>
        <th>Address</th>
        <td>{{vineyard?.address}}</td>
      </tr>
      <tr>
        <th>Total plants</th>
        <td>{{getTotalCount()}}</td>
      </tr>
      <tr>
        <th coslpan="2">Varieties</th>
      </tr>
      <tr>
        <td colspan="2"><ul>
            <li *ngFor="let variety of varieties">{{variety.name}} - {{variety.rows * variety.plantsPerRow}} plants</li>
        </ul>
      </td>
      </tr>
      <tr>
        <th colspan="2">
          <h1><ion-icon name="calendar-outline" slot="start"></ion-icon> History</h1>
        </th>
      </tr>
      <tr>
        <td colspan="2">
          <div  *ngIf="vineyard" class="actions-container">
          <div class="actions" *ngFor="let type of actions | activeType" [class.mobile]="utilService.isMobile()">
            <div class="action" *ngFor="let action of (actions | lastAction:[type])">
              <!--<div class="icon">
                <img [src]="'assets/icon/' + (type) + '.png'" [title]="type"/>
              </div>-->
              <div class="text">
                <span class="title">
                  {{action.date | date: "dd MMMM yyyy"}}
                  <ion-badge [style.backgroundColor]="actionService.getActionTypeColor(actionService.findActionType(action.type))">{{actionService.findActionType(action.type)}}</ion-badge>
                </span>
                <span class="type"></span>
                <span class="description">{{action.description.length > 50 ? action.description.substr(0, 50) + ' ...' : action.description}}</span>
                <span class="description" *ngIf="action.bbch">{{utilService.getBBCHDescription(action.bbch)}}</span>
                <span class="description" *ngIf="action.type === 'brix'">{{action.value}} ({{action.value | brixToAlcohol}}%)</span>
                <span class="description" *ngIf="action.type === 'planting'">{{varietyService.getVariety(action.variety)[0].rows * varietyService.getVariety(action.variety)[0].plantsPerRow}} plants</span>
                <span class="description variety" *ngIf="action.variety">
                    {{varietyService.getVarietiesLabel(action)}}
                </span>
              </div>
            </div>
          </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="col">
    <div id="vineyard-map"></div>
  </div>
</div>
