:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2.5rem;
}

.content {
    flex: 1;

    #graph-container {
        height: 95%;
    }
}

.content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-select {
        font-weight: normal;
        font-size: smaller;
    }
}
