<app-header [title]="'My vineyards'" showSeasons="false" [showBackButton]="false"> </app-header>
<ion-content id="map-content">
  <div id="map" [class.mobile]="utilService.isMobile()"></div>
  <app-toolbar [class.mobile]="utilService.isMobile()" [dirty]="dirty.length > 0" [mapMode]="mapMode" (updateState)="updateState($event)" (updateMapMode)="setMapMode($event)" (updateBackgroundLayers)="updateBackgroundLayers($event)"></app-toolbar>
  <app-search [class.mobile]="utilService.isMobile()" (setLocation)="zoomToLocation($event)"></app-search>
</ion-content>

<div id="clickPopup" class="ol-popup">
  <a href="#" id="popup-closer" class="ol-popup-closer" (click)="closeClickPopup()"></a>
  <div [innerHTML]="clickText"></div>
</div>
<div id="popup" class="ol-popup">
  <a href="#" id="popup-closer" class="ol-popup-closer" (click)="closePopup()"></a>
  <div id="popup-content">
    <div class="title">{{activeVineyard?.name}}</div>
    <div class="row">
      <div class="icon">
        <ion-icon name="home-outline"></ion-icon>
      </div>
      <div>
        {{activeVineyard?.address}}
      </div>
    </div>
    <div class="row">
      <div class="icon">
        <ion-icon name="leaf-outline"></ion-icon>
      </div>
      <div>
        {{getVarieties((varieties | async))}}
      </div>
    </div>
    <div class="row">
        <div class="icon">
          <ion-icon name="pricetags-outline"></ion-icon>
        </div>
        <div>
          {{getVarietyCount((varieties | async))}} plants
        </div>
      </div>
      <div class="row">
        <div class="icon">
          <ion-icon name="time-outline"></ion-icon>
        </div>
        <div>
          {{getLastUpdate((actions | async)) | moment:'DD/MM/yyyy'}}
        </div>
      </div>
    <div class="row">
      <div class="actions">
        <ion-button size="small" (click)="openVineyard(activeVineyard)">Show info</ion-button>
      </div>
    </div>
  </div>
</div>
