form {
  height: 100%;
  display: flex;
  flex-direction: column;

  ion-list {
    flex: 1;
    display: flex;
    flex-direction: column;

    .description {
      flex: 1;
      display: flex;

      ion-textarea {
        flex: 1;
        display: flex;
      }
    }

    .tags {
      padding: .5rem;
    }
  }
}
