:host {
  display: flex;
  flex-direction: column;

  .list {
    flex: 1;
    overflow: auto;
  }
}
  .subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ion-icon {
      margin-left: .5rem;
    }
  }

  .cover {
    width: 100%;
    height: 7.5rem;
    overflow: hidden;
    margin-bottom: 1rem;

    img {
      width: 100%;
      margin-top: -50%;
    }
  }

  .files {
    margin-top: 1rem;
    display: flex;
    .file {
      margin-right: .5rem;
    }
  }


  .filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    ion-badge {
      padding: .5rem;
      margin: .1rem .25rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
