<div class="filters">
  <ion-badge [style.backgroundColor]="getEventTypeColor(type)" *ngFor="let type of (notes$ | async | noteTypes)" (click)="toggleNoteType(type)">{{STAGE[type].replace('_', ' ') | titlecase}}</ion-badge>
</div>
<div class="list">
  <ion-card *ngFor="let note of (notes$ | async) | filterNotesByTypes: activeTypes  | orderBy:{key: 'date', type: 'dateString', desc: true} ">
    <ion-card-header >
      <ion-card-subtitle>{{STAGE[note.stage].replace('_', ' ') | titlecase}}</ion-card-subtitle>
      <ion-card-title>
        <div class="subtitle">
          <span>{{note.date | date:'dd MMMM yyyy'}}</span>
          <span *appHasPermissions="{vineyard: vineyard, permissions: VineyardPermissions.EDIT}"><ion-icon name="create-outline" (click)="editNote(note)"></ion-icon><ion-icon name="trash-outline" (click)="deleteNote(note)"></ion-icon></span>
        </div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="description" [innerHTML]="note.html"></div>
      <div class="files">
        <div class="file" *ngFor="let file of note.files">
          <a target="_blank" [href]="file"><img alt="file" [src]="file" width="50" /></a>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
<ion-fab *appHasPermissions="{vineyard: vineyard, permissions: VineyardPermissions.EDIT}" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openAddNoteModal()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
