<ion-header>
  <ion-toolbar>
    <ion-title>Add action</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="actionForm">
    <ion-list lines="full">
        <ion-item>
            <ion-label position="stacked">Type</ion-label>
            <ion-select required formControlName="type">
              <ion-select-option *ngFor="let type of actionTypes" [value]="type">{{type}}</ion-select-option>
            </ion-select>
          </ion-item>
        <ion-item>
            <ion-label position="stacked">Date</ion-label>
            <ion-datetime required formControlName="date"></ion-datetime>
          </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
        <ion-button slot="end" color="primary" [disabled]="!actionForm.valid" (click)="save()">Save</ion-button>
        <ion-button slot="end" color="light" (click)="discard()">Cancel</ion-button>
  </ion-toolbar>
  </ion-footer>