<ion-header>
  <ion-toolbar>
    <ion-title>Add action</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="actionForm">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked">Type</ion-label>
        <ion-select required formControlName="type">
          <ion-select-option *ngFor="let type of actionTypes" [value]="type">{{
            type
          }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Date</ion-label>
        <ion-datetime required formControlName="date"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="actionForm.value.type === 'BBCH'">
        <ion-label position="stacked">BBCH</ion-label>
        <ion-select required formControlName="bbch" interface="action-sheet">
          <ion-select-option *ngFor="let stage of bbchCodes" [value]="stage.code">{{stage.code}} - {{
            stage.description
          }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="actionForm.value.type !== 'Planting'">
        <ion-label position="stacked">Variety</ion-label>
        <ion-select required  multiple="true"  formControlName="varietyId">
          <ion-select-option *ngFor="let variety of (varieties | async)" [value]="variety.id">{{
            variety.name
          }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item  *ngIf="actionForm.value.type === 'Planting'">
        <ion-label position="stacked">Variety</ion-label>
        <ion-input type="text" required formControlName="variety"></ion-input>
      </ion-item>
      <ion-item  *ngIf="actionForm.value.type === 'Planting'" class="col">
        <ion-label position="stacked">Rows</ion-label>
        <ion-input type="number" required formControlName="rows"></ion-input>
      </ion-item>
      <ion-item  *ngIf="actionForm.value.type === 'Planting'" class="col">
        <ion-label position="stacked">Plants per row</ion-label>
        <ion-input type="number" required formControlName="plantsPerRow"></ion-input>
      </ion-item>
      <ion-item  *ngIf="actionForm.value.type === 'Brix'" class="col">
        <ion-label position="stacked">Brix</ion-label>
        <ion-input type="number" required formControlName="value"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button
      slot="end"
      color="primary"
      [disabled]="!actionForm.valid"
      (click)="save()"
      >Save</ion-button
    >
    <ion-button slot="end" color="light" (click)="discard()">Cancel</ion-button>
  </ion-toolbar>
</ion-footer>
