:host {
    position: absolute;
    top: 1rem;
    width: 100%;

    &.mobile {
        bottom: 1rem;
        top: unset;

        .toolbar {
            justify-content: center;
        }
    }
}

.toolbar {
    width: 100%;
    display: flex;
    padding: 0 1rem;
    justify-content: flex-end;
}
