.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-col {
  display: flex;
  align-items: center;
}
ion-card-title {
  display: flex;
  justify-content: space-between;
}