:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .legend {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: .25rem;

    .legend-item {
      margin-right: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: .25rem;

      .color {
        width: 16px;
        height: 16px;
        margin-right: .5rem;
      }

      .label {
        font-family: var(--ion-font-family,inherit);
        color: var(--color);
        font-size: small;
      }
    }
  }

  .chart-container {
    flex: 1;
    width: 99%;
  }

  .total {
    font-weight: bold;
    font-size: smaller;
  }
}


