


.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    padding: 1rem;
    flex: 1;
    overflow: auto;
    display: flex;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    height: auto;

    .tab-selected {
      color: var(--ion-color-primary);
    }
  }
}

.submenu {
  margin-left: 2rem;
}

.icon {
  height: 16px;
  width: 16px;
}

@media only screen and (orientation: portrait) {
  .content {
    padding: 0rem !important;
  }
}
  
  
