<app-header [title]="activeVineyard ? activeVineyard.name : 'My vineyards'" [seasons]="seasons" [activeSeason]="activeSeason" (setSeason)="setSeason($event)"> </app-header>

<ion-content>
  <div class="nav">
      <ion-tabs>
          <!-- Tab bar -->
          <ion-tab-bar slot="top">
            <ion-tab-button (click)="activePage = 'info'" [selected]="activePage === 'info'">
              <ion-icon name="information-circle"></ion-icon>
              <ion-label>Info</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="activePage = 'actions'" [selected]="activePage === 'actions'">
              <ion-icon name="time"></ion-icon>
              <ion-label>Actions</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
  </div>
  <div class="content">
    <app-info *ngIf="activePage === 'info'" [vineyard]="activeVineyard" [season]="activeSeason"></app-info>
  </div>
</ion-content>
