<app-header [title]="activeVineyard ? activeVineyard.name : 'My vineyards'"
            [menuId]="'menu1'" *appHideOnPlatform="['desktop']"></app-header>

<ion-menu side="start" content-id="main-content" *appHideOnPlatform="['desktop']">
    <ion-header>
        <ion-toolbar translucent>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="menu-content">
        <app-menu [seasons]="seasons$ | async" [activeSeasons]="activeSeasons$ | async"
                  [activeVineyard]="activeVineyard" [vintages]="vintages$ | async"
                  [activeVintage]="activeVintage"
                  (tabUpdated)="openTab($event)"
                  (seasonsUpdated)="closeMenu()"
                  (openVintage)="openVintage($event)"
        ></app-menu>
    </ion-content>
</ion-menu>

<ion-content id="main-content">
    <div class="container">
        <div class="sidebar" *appHideOnPlatform="['mobile']">
            <div class="title">
                <span>{{activeVineyard?.name}}</span>
            </div>
            <app-menu [seasons]="seasons$ | async" [activeSeasons]="activeSeasons$ | async"
                      [activeVineyard]="activeVineyard" [vintages]="vintages$ | async"
                      [activeVintage]="activeVintage"
                      (tabUpdated)="openTab($event)"
                      (seasonsUpdated)="closeMenu()"
                      (openVintage)="openVintage($event)"
            ></app-menu>
        </div>
        <div class="content">
            <div class="header"  *appHideOnPlatform="['mobile']">
                <app-userbutton slot="end"></app-userbutton>
            </div>
            <div class="view" [class.mobile]="isMobile()">
                <app-info *ngIf="activePage === 'info'" [vineyard]="activeVineyard" [varieties]="(varieties$ | async)"
                          [actions]="(actions$ | async | filterActionsBySeason: (activeSeasons$ | async))"
                          [activeSeasons]="(activeSeasons$ | async)"
                ></app-info>
                <app-actions *ngIf="activePage === 'actions'"
                             [actions]="(actions$ | async | filterActionsBySeason: (activeSeasons$ | async))"
                             [vineyard]="activeVineyard"
                             [varieties]="(varieties$ | async)"
                ></app-actions>
                <app-statistics *ngIf="activePage === 'stats'" [seasons]="(activeSeasons$ | async)"
                                [vineyard]="activeVineyard" [actions]="(actions$ | async)" [varieties]="(varieties$ | async)" [integrations]="(integrations$ | async)"></app-statistics>
                <app-notebook *ngIf="activePage === 'notes'"
                                [vineyard]="activeVineyard"></app-notebook>
                <app-vintages *ngIf="activePage === 'vintages'" [vineyard]="activeVineyard" [vintages]="(vintages$ | async)"
                              [vintage]="activeVintage"></app-vintages>
            </div>

        </div>
    </div>
</ion-content>
