
.roles {
  display: flex;
  padding: 10vw;
}

.role {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--ion-color-light);
  border-radius: var(--ion-border-radius);
  margin: 0 1rem;
  padding: 2rem;

  &.active {
    box-shadow:  var(--ion-box-shadow);
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--ion-color-light-shade);
    margin-bottom: 2rem;

    span {
      font-family: var(--ion-title-font);
      font-weight: 600;
      margin-bottom: .75rem;
      font-size: 20px;
    }
  }

  .features {
    display: flex;
    flex-direction: column;

    .feature  {
      display: flex;
      align-items: center;
      margin: .25rem 0;

      ion-icon {
        margin-right: 1rem;
        color: green;
      }
    }
  }

  .actions {
    margin-top: 2.5rem;
    text-align: center;

    .active {
      text-align: center;
      font-style: italic;
      color: var(--ion-color-dark-tint);
      font-variant: all-petite-caps;
    }
  }
}

ion-content {
  --ion-background-color: var(--ion-primary-gradient)
}
