/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.ol-zoom {
    right: .5rem;
    bottom: 1.5rem;
    left: unset;
    top: unset;
}

ion-header{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
ion-menu{
    --width: 90%;
}

ion-toolbar {
    padding-right: 1.5rem;
}

h1, .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #00000012;
    padding-bottom: .5rem;
    margin-bottom: 1rem;

    ion-icon {
        margin-right: 1rem;
        color: var(--ion-color-primary,#3880ff) !important;
    }
}

.header {
    h1 {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

ion-item, ion-tab-button {
    &.selected {
        ion-label, ion-icon {
            color: var(--ion-color-primary,#3880ff) !important;
        }
    }
}

ion-toolbar, ion-header, {
    --ion-background-color: var(--ion-primary-gradient);
    color: var(--ion-color-light);
}

ion-toolbar {
    ion-title {
        background: var(--ion-primary-gradient);
    }
    ion-chip, ion-menu-button {
        color: var(--ion-color-light);
    }
}


@media only screen and (orientation: portrait) {
    h1, .header {
        padding-left: 1rem;
    }
}
