<h1><ion-icon name="wine-outline" slot="start"></ion-icon>Vintages</h1>
<div class="container">
  <div class="sidebar" *appHideOnPlatform="['mobile']">
    <div class="list">
      <ion-list>
        <ion-item button *ngFor="let vintage of vintages" (click)="setVintage(vintage)">
          <ion-label>
            <div class="title"><span>{{vintage.name}}</span><span class="actions"><ion-icon name="create-outline" (click)="editVintage(vintage)"></ion-icon><ion-icon name="trash-outline" (click)="deleteVintage(vintage)"></ion-icon></span></div>
            <div class="year"><ion-icon name="calendar-outline" class="icon"></ion-icon>{{vintage.year}}</div>
            <div class="variety"><img class="icon" [src]="'assets/icon/grape_' + vintage.color.toLowerCase() +'.png'" />{{vineyardService.getVintageVarietiesLabel(vineyard, vintage)}}</div>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="footer">
      <ion-button (click)="openAddVintageModal()"><ion-icon slot="start" name="add-outline"></ion-icon><ion-label>Add vintage</ion-label></ion-button>
    </div>
  </div>
  <div class="content" *ngIf="vintage">
      <div class="cover" [style.background]="vintage.cover ? 'url(' + vintage.cover + ')' : 'url(/assets/images/vintage.jpg)'">
        <span class="title">{{vintage.name}}</span>
        <span class="year">{{vintage.year}}</span>
      </div>
      <app-timeline [vineyard]="vineyard" [vintage]="vintage"></app-timeline>
      <app-notes [vineyard]="vineyard" [vintage]="vintage"></app-notes>
  </div>
</div>
