<div class="container">
  <div class="sidebar">
    <div class="list">
      <ion-list>
        <ion-item *ngFor="let vintage of (vintages$ | async)" (click)="setVintage(vintage)">
          <ion-label>
            <div class="title">{{vintage.name}}</div>
            <div class="year"><ion-icon name="calendar-outline" class="icon"></ion-icon>{{vintage.year}}</div>
            <div class="variety"><img class="icon" src="assets/icon/grape.png" />{{vineyardService.getVintageVarietiesLabel(vineyard, vintage)}}</div>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="footer">
      <ion-button (click)="openAddVintageModal()"><ion-icon slot="start" name="add-outline"></ion-icon><ion-label>Add vintage</ion-label></ion-button>
    </div>
  </div>
  <div class="content">
    <div *ngIf="vintage">
      <h1>Notes</h1>
      <div *ngFor="let note of (notes$ | async)" class="note">
        <div class="title"><span>{{note.date | date}}</span><span><ion-icon name="create-outline" (click)="editNote(note)"></ion-icon><ion-icon name="trash-outline" (click)="deleteNote(note)"></ion-icon></span></div>
        <div class="stage">{{STAGE[note.stage]}}</div>
        <div class="footer">
          <div class="description">{{note.description}}</div>
          <div class="files">
            <div class="file" *ngFor="let file of note.files">
              <a target="_blank" [href]="file"><img [src]="file" width="50" /></a>
            </div>
          </div>

        </div>
      </div>
      <ion-button (click)="openAddNoteModal()"><ion-icon slot="start" name="add-outline"></ion-icon><ion-label>Add note</ion-label></ion-button>
    </div>
  </div>
</div>
