<div class="content-title">
    <span>Vintage</span>
<div class="actions" *ngIf="vintage">
    <ion-button  (click)="editVintage(vintage)">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
        <ion-button  (click)="deleteVintage(vintage)">
            <ion-icon  slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
</div>
</div>
<div class="container">
    <div class="content" *ngIf="vintage">
        <div class="cover" [style.background]="'url(/assets/images/vintage.jpg)'">
            <div class="text">
                <div class="variety">
                        <img class="icon"
                             [src]="'assets/icon/grape_' + vintage.color.toLowerCase() +'.png'"/>{{getVarieties(vintage)}}
                </div>
                <div class="title">{{vintage.name}}<span class="year">{{vintage.year}}</span></div>
                <div class="subtitle">
                        <span class="status">
              <ion-badge [style.backgroundColor]="VINTAGE_STATUS_COLORS[vintage.status]"
                         slot="end">{{VINTAGE_STATUS[vintage.status]}}</ion-badge
              ></span>
                </div>
            </div>
        </div>
        <ion-tab-bar>
            <ion-tab-button (click)="setTab('timeline')" [class.selected]="tab === 'timeline'">
                <ion-icon name="calendar-outline"></ion-icon>
                <ion-label>Timeline</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="setTab('notes')" [class.selected]="tab === 'notes'">
                <ion-icon name="create-outline"></ion-icon>
                <ion-label>Notes</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
        <div class="info">
            <app-timeline [vineyard]="vineyard" [vintage]="vintage" *ngIf="tab === 'timeline'"></app-timeline>
            <app-notes [vineyard]="vineyard" [vintage]="vintage" *ngIf="tab === 'notes'"></app-notes>
        </div>

    </div>
</div>
