:host {
  height: 100%;
  display: flex;
}

.container {
  display: flex;
  width: 100%;

  .sidebar{
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .list {
      flex: 1;
      overflow: auto;
    }

    .footer {
      height: 2.5rem;
    }
  }

  .content {
    flex: 1;
  }
}

.title {
  font-weight: bold;
  font-variant: all-small-caps;
  margin-bottom: 0.25rem;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .actions {
    font-size: large;
    ion-icon {
      margin-left: .5rem;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;

  .description {
    width: 100%;
  }
  .files {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.year, .variety {
  font-size: smaller !important;
  color: gray;
  margin-bottom: 0!important;
  display: flex;
  align-items: end;

  .icon {
    height: 16px;
    width: 16px;
    margin-right: .5rem;
  }
}

.year {
  margin-top: 0 !important;
}

.variety {
  margin-top: .25rem !important;
}
