:host {
  height: 100%;
  display: flex;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;

  .sidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: 1rem;

    .list {
      flex: 1;
      overflow: auto;
    }

    .footer {
      height: 2.5rem;
    }
  }

  .content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    app-timeline {
      height: auto
    }

    app-notes {
      flex: 1;
      overflow: auto;
      margin-top: 1rem;
    }
  }
}

.title {
  font-weight: bold;
  font-variant: all-small-caps;
  margin-bottom: 0.25rem;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .actions {
    font-size: large;
    ion-icon {
      margin-left: .5rem;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;

  .description {
    width: 100%;
  }
  .files {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.year, .variety {
  font-size: smaller !important;
  color: gray;
  margin-bottom: 0!important;
  display: flex;
  align-items: end;

  .icon {
    height: 16px;
    width: 16px;
    margin-right: .5rem;
  }
}

.year {
  margin-top: 0 !important;
}

.variety {
  margin-top: .25rem !important;
}

.cover {
  background-size: 100% auto !important;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

  .title {
    font-size: xx-large;
    color: black;
    margin-bottom: 0;
  }
  .year{
    margin-top: 0;
    font-size: large !important;
    color: black;
  }
}
