<section id="cd-timeline" class="cd-container">
    <div *ngFor="let activity of vineyardService.getActionsInYears(vineyard, [], seasons)">
      <div class="cd-timeline-block">
        <div class="cd-timeline-icon royal">
          <img [src]="getImage(activity.type)" class="ion-image timelineIcon"/>
        </div>
        <!-- cd-timeline-img -->
        <div class="cd-timeline-content royal">
          <h5 class="marginBottom0 marginTop0 title">{{activity.type | titlecase}}</h5>
          <span class="remove"><ion-icon name="trash" (click)="removeAction(activity)"></ion-icon></span>
          <p class="marginTop5 cd-author">{{activity.date | date: "dd MMMM yyyy"}}</p>
          <p class="timelineText">{{activity.description}}</p>
          <p class="timelineText" *ngIf="activity.bbch">{{utilService.getBBCHDescription(activity.bbch)}}</p>
          <ul class="timelineText" *ngIf="activity.type === 'planting'">
            <li *ngFor="let variety of activity.varieties"> {{variety.name}} - {{variety.rows * variety.platsPerRow}} plants</li>
          </ul>
          <div class="pictures" *ngIf="activity.pictures">
            <a *ngFor="let picture of activity.pictures" (click)="showPicture(picture)"><img [src]="picture"/></a>

          </div>
        </div>
      </div>
    </div>
  </section>