<h1><ion-icon name="time" slot="start"></ion-icon>History</h1>
<div class="list">
  <ion-card  *ngFor="let activity of (actions)">
    <ion-card-header >
      <div class="image">
        <img [src]="getImage(activity.type)" class="ion-image timelineIcon"/>
      </div>
      <div class="text">
        <ion-card-title>
          <span>{{activity.type | titlecase}}</span>
          <span><ion-icon name="create-outline" (click)="openAddActionModal(activity)"></ion-icon><ion-icon name="trash-outline" (click)="removeAction(activity)"></ion-icon></span>
        </ion-card-title>
        <ion-card-subtitle>
          <div class="subtitle">
            <div><ion-icon name="calendar-outline" class="icon"></ion-icon>{{activity.date | date:'dd MMMM yyyy'}}</div>
            <div class="variety" *ngIf="activity.variety"><img class="icon" src="assets/icon/grape.png" />{{ varietyService.getVarietiesLabel(activity)}}</div>
          </div>
        </ion-card-subtitle>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="description">
        <p  *ngIf="activity.type === 'brix'">{{activity.value}} degrees ({{activity.value | brixToAlcohol }}%)</p>
        <p *ngIf="activity.description">{{activity.description}}</p>
        <p *ngIf="activity.bbch">{{utilService.getBBCHDescription(activity.bbch)}}</p>
        <p  *ngIf="activity.type === 'planting'">
          <span *ngFor="let variety of getVarieties(activity.variety)"> Planted {{variety.rows * variety.plantsPerRow}} plants</span>
        </p>
      </div>
      <div class="files">
        <div class="file" *ngFor="let file of activity.files">
          <a target="_blank" [href]="file"><img [src]="file" width="50" /></a>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openAddActionModal()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
