/* -------------------------------- 

All the CSS needed for the timeline!

-------------------------------- */
/* -------------------------------- 

Paddings and margins

-------------------------------- */

:host {
  width: 100%;
}

ion-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .text {
    flex: 1;
  }

  ion-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .image {
    width: 1.5rem;
    margin-right: 1rem;
  }
  .subtitle {
    font-size: smaller;

    div {
      display: flex;
      align-items: flex-end;
      margin: 0;

    }

    img, ion-icon {
      width: 16px;
      height: 16px;
      margin-right: .5rem;
    }
  }
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  ion-badge {
    padding: .5rem;
    margin: .1rem .25rem;

    &:hover {
      cursor: pointer;
    }
  }
}
