<ion-header>
</ion-header>
<ion-content [class.mobile]="utilService.isMobile()">
  <div class="content">
    <div class="title">
      <img alt="logo" src="assets/logo.png" height="100px"/>
      <span>Vineyards</span>
    </div>
    <form [formGroup]="form" (submit)="register()" (keyup.enter)="register()">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-button type="submit"  [color]="form.valid ? 'primary' : 'medium'" expand="full" [disabled]="!form.valid">
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        <span *ngIf="!loading">Register</span>
      </ion-button>
    </form>
    <ion-buttons class="secondary">
      <ion-button expand="full" routerLink="/login">
        <span>Back to login</span>
      </ion-button>
      <ion-button expand="full" routerLink="/forgot-password">
        <span>Forgot password</span>
      </ion-button>
    </ion-buttons>
  </div>
</ion-content>
