<div class="content-title">Notes</div>
<ion-grid>
  <ion-row>
    <ion-col *ngFor="let note of (notes$ | async)"  size="12" size-sm="4">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <span>{{note.title}}</span>
            <div class="actions">
              <ion-icon name="create-outline" (click)="editNote(note)"></ion-icon><ion-icon name="trash-outline" (click)="deleteNote(note)"></ion-icon>
            </div>
          </ion-card-title>
          <ion-card-subtitle>{{note.date}}<br />
            <div class="tags" *ngIf="note.tags && note.tags.length > 0">
              <ion-chip *ngFor="let tag of note.tags" color="primary">
                <ion-label>{{tag}}</ion-label>
              </ion-chip>
            </div>
          </ion-card-subtitle>

        </ion-card-header>
        <ion-card-content>
          {{note.description}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openAddNoteModal()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
