ion-card-title {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

ion-card-subtitle {
  font-size: smaller;
}

.tags {
  margin: .5rem 0;
  font-size: x-small;
}

.search {
  padding: 0.25rem 0.5rem;
}